using Eplan.EplApi.ApplicationFramework;

namespace __ROOT_NAMESPACE__
{
    public class EplanAddIn : IEplAddIn
    {
        public bool OnRegister(ref bool loadOnStart)
        {
            loadOnStart = true;
            return true;
        }

        public bool OnUnregister() => true;
        public bool OnInit() => true;
        public bool OnInitGui() => true;
        public bool OnExit() => true;
    }
}
